.footer
  padding: 6rem
  box-shadow: inset 0 2px 20px rgba(0,0,0,0.06)
  &_link
    margin-bottom: 6rem
    font-size: 1.66rem
    line-height: 2rem
    font-family: $fontUb
    color: $black
    &:first-child
      position: relative
      &:before
        content: ''
        position: absolute
        top: 0
        right: -30%
        width: 2px
        height: 100%
        background-color: $green
        @media screen and (max-width: 350px)
          right: -15%

  &_social_icon
    width: 3rem
    height: 3rem
    img
      width: 100%
      height: auto
    &:first-child
      margin-right: 2rem