.reviews
  padding: 0 6rem
  margin-bottom: 6rem
  overflow: hidden
  position: relative
  @media screen and (min-width: $mobile)
    padding: 0 13.33rem
  &_title
    position: relative
    text-align: center
    margin-bottom: 6rem
    @media screen and (min-width: $mobile)
      margin-bottom: 8.33rem
    &_logo
      position: absolute
      top: 0
      left: 8%
      width: 30%
      @media screen and (min-width: $mobile)
        width: 20%
        left: 25%
      img
        width: 100%
        height: auto

  &_slider
    &_item
      position: relative
      margin-bottom: 5rem
      @media screen and (min-width: $mobile)
        width: calc(100% / 7)
      &_img
        width: 100%
        height: auto
        position: relative
        padding-top: 100%
        overflow: hidden
        margin-bottom: 2rem
        @media screen and (min-width: $mobile)
          padding-top: 14rem
          margin-bottom: 0
        img
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%,-50%)
          height: 100%
          width: auto
          @media screen and (min-width: $mobile)
            width: 100%
            height: auto

      &_info
        @media screen and (min-width: $mobile)
          display: none
          position: absolute
          top: 0
          left: 0
        &_num
          font-size: 5rem
          line-height: 6rem
          font-family: $fontUb
          color: $black
        &_name
          font-size: 4rem
          line-height: 4rem
          font-family: $fontUb
          color: $black
          margin-bottom: 1.5rem
        &_text
          font-size: 2.66rem
          line-height: 3.33rem
          font-family: $fontUb
          color: $black
    button
      background-color: transparent
      border: none
      outline: none
.reviews_slider_down_wrapper
  overflow: hidden
.reviews_slider_down
  height: 30vh
  position: relative
  &_img
    position: relative
    overflow: hidden
    margin: 0 1rem
    padding-top: 25vh
    img
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      height: 100%
      width: auto
.slick-reviews-prev
  position: absolute
  bottom: -13.5vh
  width: 2rem
  height: 4rem
  left: -3rem
  @media screen and (min-width: $mobile)
    bottom: auto
    top: 50%
  img
    width: auto
    height: 100%
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)


.slick-reviews-next
  position: absolute
  bottom: -13.5vh
  transform: rotate(180deg)
  width: 2rem
  height: 4rem
  right: -3rem
  @media screen and (min-width: $mobile)
    bottom: auto
    top: 50%
  img
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    width: auto
    height: 100%





