body, html, * {
  font-size: 10px;
  color: #000;
}
@media screen and (max-width: 1680px) {
  body, html, * {
    font-size: 8px;
  }
}
@media screen and (max-width: 1200px) {
  body, html, * {
    font-size: 6px;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}
a a:hover {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  background-color: #00A651;
  height: 40px;
  font-family: "Ubuntu", sans-serif;
  border-radius: 20px;
  border: none;
  outline: none;
}
@media screen and (min-width: 767px) {
  .btn {
    height: 45px;
    width: auto;
  }
}
.btn p {
  font-weight: 700;
  color: #fff;
  font-size: 2rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 4rem;
  line-height: 5rem;
  font-family: "Palatino Linotype", sans-serif;
  color: #000;
  position: relative;
  font-weight: 300;
}
@media screen and (min-width: 767px) {
  h2 {
    font-size: 7rem;
    line-height: 8.66rem;
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 767px) and (min-width: 992px) {
  h2 {
    font-size: 5rem;
    line-height: 6.7rem;
  }
}

.bg_title {
  font-size: 18rem;
  font-family: "Palatino Linotype", sans-serif;
  color: #000;
  font-weight: 700;
  opacity: 0.05;
  position: absolute;
  text-align: center;
  top: 50%;
  left: -15rem;
  transform: translate(0%, -50%);
  white-space: nowrap;
}
@media screen and (min-width: 767px) {
  .bg_title {
    font-size: 40rem;
    line-height: 50rem;
    left: 0;
    width: 100%;
  }
}

.wrapper_main_bg {
  padding: 0 6rem;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
}
@media screen and (min-width: 992px) {
  .wrapper_main_bg {
    padding: 0 13.33rem;
  }
}
@media screen and (min-width: 992px) and (min-width: 992px) {
  .wrapper_main_bg {
    padding: 0 10rem;
  }
}

.main_bg_col {
  width: 25%;
  border-right: 1px solid #F5F7FB;
}
@media screen and (min-width: 992px) {
  .main_bg_col {
    width: calc(100% / 6);
  }
}
.main_bg_col:first-child {
  border-left: 1px solid #F5F7FB;
}

.body_hidden {
  overflow: hidden;
}

header {
  padding: 0 3.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  transition: background-color 500ms;
}
@media screen and (min-width: 767px) {
  header {
    padding: 0 13.33rem;
    padding-top: 4.33rem;
    padding-bottom: 4.33rem;
  }
}

.menu_burger {
  position: relative;
  width: 10vw;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 110;
}
.menu_burger p {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: relative;
  transition: height 500ms;
}
.menu_burger p:after {
  content: "";
  width: 100%;
  position: absolute;
  height: 2px;
  left: 0;
  background-color: #000;
  top: -10px;
  transition: 500ms;
}
.menu_burger p:before {
  content: "";
  width: 100%;
  position: absolute;
  height: 2px;
  left: 0;
  background-color: #000;
  top: 10px;
  transition: 500ms;
}
.menu_burger_open p {
  height: 0;
  transition: height 500ms;
}
.menu_burger_open p:before {
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.menu_burger_open p:after {
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.menu {
  padding-top: 27vh;
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: -100vw;
  z-index: 100;
  background-color: #fff;
  transition: 500ms;
}
@media screen and (max-height: 350px) {
  .menu {
    padding-top: 20vh;
  }
}
@media screen and (min-width: 767px) {
  .menu {
    padding: 0;
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    margin-left: -15px;
  }
}
.menu_item {
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  color: #000;
  margin-bottom: 5vh;
  text-align: center;
}
@media screen and (min-width: 767px) {
  .menu_item {
    margin-bottom: 0;
    font-size: 2.33rem;
  }
}
@media screen and (max-height: 420px) {
  .menu_item {
    margin-bottom: 3vh;
  }
}
.menu_item:last-child {
  margin-bottom: 0;
}
.menu_open {
  left: 0;
}
.menu_social {
  position: absolute;
  bottom: 6vh;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu_social:before {
  content: "";
  position: absolute;
  top: -100%;
  left: 50%;
  width: 80%;
  height: 1px;
  background-color: #000;
  transform: translate(-50%, -50%);
}
.menu_social_icon {
  width: 3rem;
  height: 3rem;
  margin-right: 3rem;
}
.menu_social_icon:last-child {
  margin-right: 0;
}
.menu_social_icon img {
  width: 100%;
  height: auto;
}

.logo_wrapper {
  display: block;
  position: relative;
  padding-top: 50%;
  z-index: 110;
}
@media screen and (max-height: 420px) {
  .logo_wrapper {
    padding-top: 30%;
  }
}
.logo_wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
}

.header_merch {
  font-size: 2.66rem;
  line-height: 3rem;
  margin-left: -15px;
}

.header_btn {
  background-color: rgba(0, 166, 81, 0.6);
  position: absolute;
  z-index: 110;
  right: 6rem;
  top: 1rem;
  width: 40px;
}
@media screen and (min-width: 767px) {
  .header_btn {
    width: 25vw;
    top: 4rem;
    right: 4rem;
  }
}

.main_section {
  margin-top: 14vh;
  margin-bottom: 10rem;
}
@media screen and (max-height: 420px) {
  .main_section {
    margin-top: 20vh;
  }
}
@media screen and (min-width: 767px) {
  .main_section {
    padding-left: 13.33rem;
  }
}

.slider_img_item {
  width: 100%;
  padding-top: 32vh;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 767px) {
  .slider_img_item {
    height: 70vh;
  }
}
.slider_img_item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
@media screen and (min-width: 767px) {
  .slider_img_item img {
    width: auto;
    height: 100%;
  }
}

.main_section_slider_text_wrapper {
  position: relative;
  min-height: 40vh;
}
@media screen and (max-width: 350px) {
  .main_section_slider_text_wrapper {
    height: 45vh;
  }
}
@media screen and (min-width: 767px) {
  .main_section_slider_text_wrapper {
    position: absolute;
    width: 75vw;
    top: 35vh;
    left: 0;
  }
}

.main_section_slider_text {
  height: 100%;
}

.slider_text_item {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  padding: 0 6rem;
}
@media screen and (max-width: 350px) {
  .slider_text_item {
    height: 45vh;
  }
}
@media screen and (min-width: 767px) {
  .slider_text_item {
    padding: 2.5rem 13.33rem 5rem;
    background-color: #fff;
    min-height: 35vh;
  }
}
.slider_text_item_head {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.33rem;
  color: #000;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  max-height: 12rem;
}
@media screen and (min-width: 767px) {
  .slider_text_item_head {
    font-size: 4rem;
    line-height: 5rem;
    max-height: 20rem;
  }
}
.slider_text_item_desc p {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.66rem;
  line-height: 3.33rem;
  font-weight: 400;
  color: #818181;
  margin-bottom: 5.66rem;
  overflow: hidden;
  max-height: 19rem;
}
@media screen and (min-width: 767px) {
  .slider_text_item_desc p {
    line-height: 4rem;
  }
}
.slider_text_item_button {
  position: absolute;
  bottom: 0;
  right: 6rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 767px) {
  .slider_text_item_button {
    right: 13.33rem;
    bottom: 5rem;
  }
}
.slider_text_item_button a {
  width: 40vw;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.33rem;
  color: #fff;
}
@media screen and (min-width: 767px) {
  .slider_text_item_button a {
    width: 30vw;
  }
}

.slick-main-prev {
  position: absolute;
  bottom: 0;
  left: 8rem;
  z-index: 2;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
}
@media screen and (min-width: 767px) {
  .slick-main-prev {
    bottom: 6rem;
    left: 15rem;
  }
}
.slick-main-prev img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.slick-main-next {
  position: absolute;
  bottom: 0;
  left: calc(6rem + 20vw);
  transform: translate(-50%, -50%) rotate(-180deg);
  z-index: 2;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
}
@media screen and (min-width: 767px) {
  .slick-main-next {
    bottom: 6rem;
    left: calc(6rem + 20vw);
  }
}
.slick-main-next img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.services {
  margin-top: 10rem;
  margin-bottom: 5rem;
  padding: 0 3.5rem;
}
@media screen and (min-width: 767px) {
  .services {
    padding: 0 11rem;
  }
}
.services_title {
  text-align: center;
  margin-bottom: 5rem;
}
.services_wrapper_item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
  height: 15vh;
}
@media screen and (min-width: 767px) {
  .services_wrapper_item {
    margin-bottom: 8rem;
  }
}
.services_wrapper_item_img {
  position: relative;
  width: auto;
  height: 60%;
  margin-bottom: 3rem;
}
.services_wrapper_item_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.services_wrapper_item p {
  width: 100%;
  height: 25%;
  text-align: center;
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: "Ubuntu", sans-serif;
  color: #000;
}
@media screen and (min-width: 767px) {
  .services_wrapper_item p {
    font-size: 3rem;
    line-height: 4rem;
  }
}
@media screen and (min-width: 767px) {
  .services_wrapper_item_more {
    width: auto;
    height: auto;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 767px) and (min-width: 767px) {
  .services_wrapper_item_more p {
    margin-right: 7rem;
  }
}

.services_icon_more {
  position: relative;
  margin: auto;
  height: 15vw;
  width: 15vw;
  border: 2px solid #00A651;
  margin-bottom: 3rem;
}
@media screen and (min-width: 767px) {
  .services_icon_more {
    height: auto;
    width: auto;
    padding: 3rem;
    border: 2px solid #000;
    margin-bottom: 0;
  }
}
.services_icon_more:before {
  content: "";
  width: 45%;
  height: 2px;
  background-color: #00A651;
  position: absolute;
  top: 35%;
  right: 50%;
  transform: translate(50%, 50%) rotate(45deg);
}
@media screen and (min-width: 767px) {
  .services_icon_more:before {
    background-color: #000;
  }
}
.services_icon_more:after {
  content: "";
  width: 45%;
  height: 2px;
  background-color: #00A651;
  position: absolute;
  top: 65%;
  right: 50%;
  transform: translate(50%, 50%) rotate(-45deg);
}
@media screen and (min-width: 767px) {
  .services_icon_more:after {
    background-color: #000;
  }
}

.about_us {
  padding: 0 2.5rem;
  padding-top: 10rem;
  padding-bottom: 13.33rem;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 767px) {
  .about_us {
    padding: 0 11rem;
    padding-top: 20rem;
    padding-bottom: 20rem;
  }
}
@media screen and (min-width: 767px) {
  .about_us_title {
    text-align: left;
    margin-top: 10vh;
    margin-bottom: 5rem;
  }
}
.about_us_title:after {
  content: "";
  width: 50%;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: 0%;
}
@media screen and (min-width: 767px) {
  .about_us_title:after {
    width: 20%;
    right: 50%;
  }
}
.about_us_title_mobile {
  font-size: 4rem;
  line-height: 5rem;
  margin-bottom: 6rem;
  position: relative;
}
.about_us_title_mobile:after {
  content: "";
  width: 50%;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: 0%;
}
.about_us_subtitle {
  width: 90%;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.66rem;
  line-height: 4rem;
  margin-bottom: 5rem;
}
@media screen and (min-width: 767px) {
  .about_us_subtitle {
    font-size: 3rem;
  }
}
.about_us_img {
  width: 100%;
  position: relative;
  padding-top: 20vh;
  overflow: hidden;
  margin-bottom: 2rem;
}
@media screen and (min-width: 767px) {
  .about_us_img {
    width: 25vw;
    padding-top: 0;
    height: 100%;
    left: -13.33rem;
  }
}
.about_us_img > img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 767px) {
  .about_us_img > img {
    width: auto;
    height: 100%;
  }
}
.about_us_bg_logo {
  pointer-events: none;
  position: absolute;
  width: 40vw;
  left: 6rem;
  bottom: -6rem;
  opacity: 0.28;
  transform: rotate(-45deg);
}
@media screen and (min-width: 767px) {
  .about_us_bg_logo {
    width: 15vw;
    left: -12vw;
    bottom: -3vh;
    z-index: -1;
  }
}
.about_us_bg_logo img {
  width: 100%;
}
.about_us_wrapper_info_text {
  width: 80%;
  height: 16rem;
  overflow: hidden;
}
@media screen and (min-width: 767px) {
  .about_us_wrapper_info_text {
    overflow: auto;
    height: auto;
    width: 100%;
    margin-bottom: 10vh;
  }
}
.about_us_wrapper_info_text p {
  font-size: 2.66rem;
  line-height: 4rem;
  color: #818181;
}
@media screen and (min-width: 767px) {
  .about_us_wrapper_info_text p {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 2rem;
  }
}
.about_us_wrapper_info_text_open {
  height: auto;
}
.about_us_read_more {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.66rem;
  line-height: 4rem;
  text-decoration: underline;
  color: #000;
}
.about_us_bg_title {
  left: auto;
  right: -20rem;
}
@media screen and (min-width: 767px) {
  .about_us_bg_title {
    font-size: 50rem;
    left: 0;
    top: 0;
  }
}

.portfolio {
  padding: 0 6rem;
  width: 100vw;
  padding-bottom: 13.3rem;
  overflow: hidden;
}
@media screen and (min-width: 767px) {
  .portfolio {
    padding: 0 13.33rem;
    padding-bottom: 20rem;
  }
}
.portfolio_title {
  text-align: center;
  margin-bottom: 6rem;
}
.portfolio_category {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  margin: 0rem -6rem;
  padding-left: 6rem;
  margin-bottom: 8.33rem;
}
@media screen and (min-width: 767px) {
  .portfolio_category {
    padding-left: 0;
  }
}
@media screen and (max-height: 420px) {
  .portfolio_category {
    margin-bottom: 5vh;
  }
}
.portfolio_category_item {
  padding: 0 3rem;
  padding-bottom: 2rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  line-height: 3.66rem;
  white-space: nowrap;
}
.portfolio_category_item:first-child {
  margin-left: 0;
}
.portfolio_category_item_active {
  border-bottom: 2px solid #000;
}

.portfolio_slider {
  margin: 0 -6rem;
  height: 35vh;
}
@media screen and (max-height: 420px) {
  .portfolio_slider {
    height: 60vh;
  }
}
@media screen and (min-width: 767px) {
  .portfolio_slider {
    margin: 0 -13rem;
    height: 45vh;
  }
}
.portfolio_slider_wrapper_img {
  height: 25vh;
  margin: 0 1rem;
  position: relative;
  overflow: hidden;
  transition: height 500ms;
}
@media screen and (min-width: 767px) {
  .portfolio_slider_wrapper_img {
    height: 35vh;
  }
}
@media screen and (max-height: 420px) {
  .portfolio_slider_wrapper_img {
    height: 50vh;
  }
}
.portfolio_slider_wrapper_img:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  opacity: 0.5;
  transition: opacity 500ms 500ms;
}
.portfolio_slider_wrapper_img > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
  min-height: 80%;
  transition: height 500ms;
}
@media screen and (max-height: 420px) {
  .portfolio_slider_wrapper_img > img {
    width: 100%;
    height: auto;
  }
}

.slick-center .portfolio_slider_wrapper_img {
  height: 35vh;
  transition: height 500ms;
}
@media screen and (min-width: 767px) {
  .slick-center .portfolio_slider_wrapper_img {
    height: 45vh;
  }
}
@media screen and (max-height: 420px) {
  .slick-center .portfolio_slider_wrapper_img {
    height: 60vh;
  }
}
.slick-center .portfolio_slider_wrapper_img:after {
  opacity: 0;
  transition: 100ms;
}

.slick-track {
  min-height: 35vh;
}

.slick_main_portfolio_prev {
  position: absolute;
  bottom: 0;
  left: calc(11rem - 8vh);
  transform: rotate(180deg);
  width: 8vh;
  height: 9vh;
  background-color: #000;
  z-index: 50;
  outline: none;
  border: none;
}
@media screen and (min-width: 767px) {
  .slick_main_portfolio_prev {
    left: calc(22vw - 8vh - 1rem);
  }
}
.slick_main_portfolio_prev:before {
  content: "";
  width: 50%;
  height: 2px;
  position: absolute;
  background-color: #fff;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.slick_main_portfolio_prev:after {
  content: "";
  width: 50%;
  height: 2px;
  position: absolute;
  background-color: #fff;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.slick_main_portfolio_next {
  position: absolute;
  bottom: 0;
  right: calc(11rem - 8vh);
  width: 8vh;
  height: 9vh;
  background-color: #000;
  z-index: 50;
  outline: none;
  border: none;
}
@media screen and (min-width: 767px) {
  .slick_main_portfolio_next {
    right: calc(22vw - 8vh - 1rem);
  }
}
.slick_main_portfolio_next:before {
  content: "";
  width: 50%;
  height: 2px;
  position: absolute;
  background-color: #fff;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.slick_main_portfolio_next:after {
  content: "";
  width: 50%;
  height: 2px;
  position: absolute;
  background-color: #fff;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.reviews {
  padding: 0 6rem;
  margin-bottom: 6rem;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 767px) {
  .reviews {
    padding: 0 13.33rem;
  }
}
.reviews_title {
  position: relative;
  text-align: center;
  margin-bottom: 6rem;
}
@media screen and (min-width: 767px) {
  .reviews_title {
    margin-bottom: 8.33rem;
  }
}
.reviews_title_logo {
  position: absolute;
  top: 0;
  left: 8%;
  width: 30%;
}
@media screen and (min-width: 767px) {
  .reviews_title_logo {
    width: 20%;
    left: 25%;
  }
}
.reviews_title_logo img {
  width: 100%;
  height: auto;
}
.reviews_slider_item {
  position: relative;
  margin-bottom: 5rem;
}
@media screen and (min-width: 767px) {
  .reviews_slider_item {
    width: calc(100% / 7);
  }
}
.reviews_slider_item_img {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  margin-bottom: 2rem;
}
@media screen and (min-width: 767px) {
  .reviews_slider_item_img {
    padding-top: 14rem;
    margin-bottom: 0;
  }
}
.reviews_slider_item_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
}
@media screen and (min-width: 767px) {
  .reviews_slider_item_img img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 767px) {
  .reviews_slider_item_info {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.reviews_slider_item_info_num {
  font-size: 5rem;
  line-height: 6rem;
  font-family: "Ubuntu", sans-serif;
  color: #000;
}
.reviews_slider_item_info_name {
  font-size: 4rem;
  line-height: 4rem;
  font-family: "Ubuntu", sans-serif;
  color: #000;
  margin-bottom: 1.5rem;
}
.reviews_slider_item_info_text {
  font-size: 2.66rem;
  line-height: 3.33rem;
  font-family: "Ubuntu", sans-serif;
  color: #000;
}
.reviews_slider button {
  background-color: transparent;
  border: none;
  outline: none;
}

.reviews_slider_down_wrapper {
  overflow: hidden;
}

.reviews_slider_down {
  height: 30vh;
  position: relative;
}
.reviews_slider_down_img {
  position: relative;
  overflow: hidden;
  margin: 0 1rem;
  padding-top: 25vh;
}
.reviews_slider_down_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
}

.slick-reviews-prev {
  position: absolute;
  bottom: -13.5vh;
  width: 2rem;
  height: 4rem;
  left: -3rem;
}
@media screen and (min-width: 767px) {
  .slick-reviews-prev {
    bottom: auto;
    top: 50%;
  }
}
.slick-reviews-prev img {
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slick-reviews-next {
  position: absolute;
  bottom: -13.5vh;
  transform: rotate(180deg);
  width: 2rem;
  height: 4rem;
  right: -3rem;
}
@media screen and (min-width: 767px) {
  .slick-reviews-next {
    bottom: auto;
    top: 50%;
  }
}
.slick-reviews-next img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}

.wrapper_form {
  overflow: hidden;
  padding: 6rem;
  width: auto;
  height: 100%;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 767px) {
  .wrapper_form {
    padding: 8rem 13.33rem;
    padding-bottom: 20rem;
  }
}
.wrapper_form .form_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper_form .form_bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
.wrapper_form .form_bg img {
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.form {
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 767px) {
  .form {
    width: 70%;
    margin: auto;
  }
}
.form_title {
  position: relative;
  z-index: 2;
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  color: #00A651;
  padding-bottom: 3.33rem;
  text-align: center;
  margin-bottom: 8rem;
}
@media screen and (min-width: 767px) {
  .form_title {
    font-size: 8rem;
    line-height: 10rem;
  }
}
.form_title:after {
  content: "";
  background-color: #00A651;
  width: 50%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 767px) {
  .form_title:after {
    width: 25%;
  }
}
.form_input {
  width: 100%;
  margin-bottom: 5vh;
  position: relative;
}
.form_input input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  font-size: 3rem;
  line-height: 3rem;
  color: #000;
  text-indent: 2rem;
}
.form_input input:placeholder-shown + label {
  opacity: 0;
}
.form_input input:invalid {
  border-bottom: 1px solid #E20047;
}
.form_input input:valid + .form_input_property {
  opacity: 1;
}
.form_input label {
  opacity: 1;
  position: absolute;
  top: -2rem;
  left: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 3.33rem;
  line-height: 3.33rem;
  color: #000;
  pointer-events: none;
}
.form_input_property {
  opacity: 0;
  height: 80%;
  width: 5%;
  position: absolute;
  top: 45%;
  right: 3%;
  transform: translate(-50%, -50%);
}
.form_input_property img {
  width: auto;
  height: 100%;
}

.btn_form {
  width: 100%;
  font-size: 3rem;
  line-height: 3.5rem;
  color: #fff;
}

.footer {
  padding: 6rem;
  box-shadow: inset 0 2px 20px rgba(0, 0, 0, 0.06);
}
@media screen and (min-width: 767px) {
  .footer {
    padding: 7rem 13.33rem;
  }
}
.footer_link {
  margin-bottom: 6rem;
  font-size: 1.66rem;
  line-height: 2rem;
  font-family: "Ubuntu", sans-serif;
  color: #000;
}
@media screen and (min-width: 767px) {
  .footer_link {
    font-size: 2.66rem;
    line-height: 3rem;
    margin-right: 10vw;
  }
  .footer_link:last-child {
    margin-right: 0;
  }
}
.footer_link:first-child {
  position: relative;
}
.footer_link:first-child:before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  right: -30%;
  width: 2px;
  height: 100%;
  background-color: #00A651;
}
@media screen and (min-width: 767px) {
  .footer_link:first-child:before {
    right: -5vh;
  }
}
.footer_social_icon {
  width: 3rem;
  height: 3rem;
}
.footer_social_icon img {
  width: 100%;
  height: auto;
}
.footer_social_icon:first-child {
  margin-right: 2rem;
}

.blog {
  padding: 0 3.5rem;
  padding-top: 16rem;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 767px) {
  .blog {
    padding: 0 11rem;
    padding-top: 19rem;
    margin-bottom: 20rem;
  }
}
.blog_title {
  margin-bottom: 5rem;
}
.blog_list_item_img {
  margin-bottom: 1.5rem;
  position: relative;
  overflow: hidden;
  padding-top: 60%;
}
@media screen and (min-width: 767px) {
  .blog_list_item_img {
    padding-top: 30%;
    margin-bottom: 4rem;
  }
}
.blog_list_item_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.blog_list_item_info {
  margin-bottom: 9.33rem;
}
@media screen and (min-width: 767px) {
  .blog_list_item_info {
    margin-bottom: 8.33rem;
  }
}
.blog_list_item_title {
  margin-bottom: 1.5rem;
  font-size: 2.66rem;
  line-height: 3.33rem;
  color: #000;
  font-weight: 600;
}
@media screen and (min-width: 767px) {
  .blog_list_item_title {
    font-size: 3rem;
    line-height: 4rem;
    width: 35%;
    margin-right: 5rem;
  }
}
@media screen and (min-width: 767px) {
  .blog_list_item_text {
    width: 60%;
  }
}
.blog_list_item_text p {
  font-size: 2.66rem;
  line-height: 3.33rem;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 3.33rem;
}
@media screen and (min-width: 767px) {
  .blog_list_item_text p {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 5rem;
    max-height: 16rem;
    overflow: hidden;
  }
}
.blog_list_item_read {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.blog_list_item_read p {
  font-family: "Ubuntu", sans-serif;
  line-height: 2.66rem;
  font-size: 2.33rem;
  font-weight: 500;
  margin-bottom: 0;
}
.blog_list_item_read_icon {
  height: 100%;
  width: 20%;
  margin-left: 3rem;
}
.blog_list_item_read_icon img {
  width: auto;
  height: 100%;
}

@media screen and (min-height: 992px) {
  .row-md-even-reverse:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.blog_article {
  padding: 0 3.5rem;
  padding-top: 16rem;
}
@media screen and (min-width: 767px) {
  .blog_article {
    padding: 0 11rem;
    padding-top: 19rem;
  }
}
.blog_article_slider {
  margin-bottom: 8.33rem;
}
.blog_article_slider_item img {
  width: 100%;
  height: auto;
}
.blog_article_info {
  margin-bottom: 10rem;
}
.blog_article_info h3 {
  width: 80%;
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  line-height: 3.66rem;
  color: #000;
  margin-bottom: 1.5rem;
  font-weight: 500;
}
.blog_article_info p {
  font-size: 2.66rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  line-height: 3.33rem;
  color: #000;
  margin-bottom: 5rem;
}

.other_articles {
  position: relative;
  padding: 5rem 3.5rem;
  background-color: rgba(0, 166, 81, 0.1);
}
@media screen and (min-width: 767px) {
  .other_articles {
    padding: 8.33rem 11rem;
  }
}
.other_articles_box_title {
  position: relative;
}
.other_articles_title {
  padding-bottom: 2rem;
  margin-bottom: 5rem;
  position: relative;
}
@media screen and (min-width: 767px) {
  .other_articles_title {
    text-align: left;
  }
}
.other_articles_title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 1px;
  background-color: #000;
}
@media screen and (min-width: 767px) {
  .other_articles_title:after {
    width: 25%;
  }
}
.other_articles_bg_logo {
  width: 15rem;
  height: auto;
  position: absolute;
  top: -25%;
  right: -4rem;
  opacity: 0.5;
  transform: rotate(-30deg);
}
@media screen and (min-width: 767px) {
  .other_articles_bg_logo {
    width: 10vw;
    top: 40%;
    right: 40rem;
  }
}
.other_articles_bg_logo img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 767px) {
  .other_articles_list_item {
    width: 25%;
    position: relative;
  }
}
.other_articles_list_item_img {
  overflow: hidden;
  position: relative;
  padding-top: 30%;
}
@media screen and (min-width: 767px) {
  .other_articles_list_item_img {
    padding-top: 150%;
  }
}
.other_articles_list_item_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 767px) {
  .other_articles_list_item_img img {
    width: auto;
    height: 100%;
  }
}
.other_articles_list_item_title {
  min-height: 7.5rem;
  padding: 1rem 2rem;
  background-color: #F5F9FD;
}
@media screen and (min-width: 767px) {
  .other_articles_list_item_title {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40%;
    width: 100%;
  }
}
.other_articles_list_item_title p {
  width: 70%;
  font-size: 2.33rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  line-height: 2.66rem;
  color: #000;
}
@media screen and (min-width: 767px) {
  .other_articles_list_item_title p {
    width: 100%;
  }
}

.page_portfolio_title {
  text-align: center;
  position: relative;
  margin-bottom: 5rem;
}
@media screen and (min-width: 767px) {
  .page_portfolio_title {
    text-align: left;
  }
}
@media screen and (min-width: 767px) {
  .page_portfolio_bg_title {
    left: -11rem;
    top: -11rem;
  }
}
.page_portfolio_list {
  margin-bottom: 8.33rem;
  position: relative;
}
.page_portfolio_list_item {
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  line-height: 3.66rem;
  color: #000;
  margin-bottom: 2vh;
  position: relative;
}
@media screen and (min-width: 767px) {
  .page_portfolio_list_item {
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 1.66rem;
    overflow: hidden;
  }
}
.page_portfolio_list_item:last-child {
  margin-bottom: 0;
}
.page_portfolio_list_item_active:after {
  content: "";
  width: 15rem;
  height: 1px;
  background-color: #000;
  position: absolute;
  right: -10%;
  top: 50%;
  transform: translate(0%, -50%);
}
@media screen and (min-width: 767px) {
  .page_portfolio_list_item_active:after {
    right: 25%;
    width: 50%;
  }
}
.page_portfolio_list_icon {
  position: absolute;
  left: -10rem;
  bottom: -5rem;
  width: 10vw;
  height: auto;
}
.page_portfolio_list_icon img {
  width: 100%;
  height: auto;
}

.categories {
  padding: 0 3.5rem;
  position: relative;
  overflow: hidden;
  padding-top: 16rem;
}
@media screen and (min-width: 767px) {
  .categories {
    padding: 0 11rem;
    padding-top: 30rem;
  }
}
.categories_item {
  display: block;
  position: relative;
  margin-bottom: 8.33rem;
}
.categories_item_img {
  padding-top: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.categories_item_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
  z-index: 1;
}
.categories_item_title {
  padding: 1rem 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 70%;
  height: 5rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.66rem;
  line-height: 3.33rem;
  display: flex;
  align-items: center;
  z-index: 2;
}

@media screen and (min-width: 767px) {
  .top-md-padding {
    padding-top: 25rem;
  }
}

.portfolio_article_main {
  padding: 0 6rem;
  padding-top: 16rem;
}
@media screen and (min-width: 767px) {
  .portfolio_article_main {
    padding: 0 13.33rem;
    padding-top: 13rem;
    overflow: hidden;
  }
}
.portfolio_article_main_img {
  position: relative;
  overflow: hidden;
  height: 30vh;
  margin: 0 calc(-6rem - 15px);
  margin-bottom: 4rem;
}
@media screen and (min-width: 767px) {
  .portfolio_article_main_img {
    width: calc(20vw + 13rem);
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: -15rem;
  }
}
.portfolio_article_main_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  z-index: 1;
}
@media screen and (min-width: 767px) {
  .portfolio_article_main_img img {
    width: auto;
    height: 100%;
  }
}
.portfolio_article_main_img_second {
  position: absolute;
  right: -35%;
  top: -15%;
  padding-top: 35vh;
  width: 30vw;
  overflow: hidden;
}
.portfolio_article_main_img_second img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}
.portfolio_article_main_title {
  width: 100%;
  position: absolute;
  top: -11rem;
  left: 0;
  padding: 1.5rem 2rem;
  background-color: #fff;
  font-size: 3.66rem;
  line-height: 5rem;
  font-family: "Palatino Linotype", sans-serif;
  color: #000;
  text-align: center;
  z-index: 2;
  font-weight: 600;
}
@media screen and (min-width: 767px) {
  .portfolio_article_main_title {
    padding: 0;
    padding-top: 30vh;
    position: static;
    text-align: left;
    font-size: 7rem;
    line-height: 10rem;
  }
}
.portfolio_article_main_text p {
  font-size: 2.66rem;
  font-family: "Palatino Linotype", sans-serif;
  font-weight: 400;
  line-height: 3.33rem;
  color: #000;
  margin-bottom: 1.5rem;
}
.portfolio_article_main_text p:last-child {
  margin-bottom: 5rem;
}
@media screen and (min-width: 767px) {
  .portfolio_article_main_text p:last-child {
    margin-bottom: 20rem;
  }
}
.portfolio_article_main_button button {
  width: 100%;
  font-size: 3rem;
  font-family: "Palatino Linotype", sans-serif;
  font-weight: 400;
  color: #fff;
  margin-bottom: 10rem;
}
@media screen and (min-width: 767px) {
  .portfolio_article_main_button button {
    width: 70%;
    margin-bottom: 14.5rem;
  }
}
.portfolio_article_main_button_logo {
  position: absolute;
  bottom: 8rem;
  left: -3rem;
  width: 20%;
  height: 5rem;
}
@media screen and (min-width: 767px) {
  .portfolio_article_main_button_logo {
    left: 2rem;
  }
}
.portfolio_article_main_button_logo img {
  width: 100%;
  height: auto;
}

.portfolio_article_question_title {
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  color: #000;
  font-weight: 600;
  margin-bottom: 8rem;
}
@media screen and (min-width: 767px) {
  .portfolio_article_question_title {
    margin-top: 13rem;
    margin-bottom: 8rem;
    font-size: 7rem;
    line-height: 8rem;
  }
}
.portfolio_article_question_img {
  position: relative;
  overflow: hidden;
  height: 25vh;
  margin-bottom: 3rem;
}
@media screen and (min-width: 767px) {
  .portfolio_article_question_img {
    height: 35vh;
  }
}
.portfolio_article_question_img img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio_info_title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.66rem;
  color: #555555;
  margin-bottom: 1.5rem;
}
.portfolio_info_text p {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.66rem;
  line-height: 3.33rem;
  color: #555555;
  margin-bottom: 1.5rem;
}
.portfolio_info_text p:last-child {
  margin-bottom: 8.33rem;
}

.gallery_slider {
  padding: 0 6rem;
  margin-bottom: 13.33rem;
  overflow: hidden;
}
.gallery_slider_title {
  text-align: center;
  margin-bottom: 5rem;
}

.contacts {
  padding: 0 3.5rem;
  padding-top: 16rem;
}
@media screen and (min-width: 767px) {
  .contacts {
    padding: 0 11rem;
    padding-top: 19rem;
  }
}
.contacts_title {
  margin-bottom: 5rem;
}
@media screen and (min-width: 767px) {
  .contacts_title {
    text-align: left;
  }
}
.contacts_subtitle {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.66rem;
  line-height: 3.33rem;
  color: #000;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 767px) {
  .contacts_subtitle {
    font-size: 4rem;
    line-height: 5.33rem;
  }
}
.contacts_img {
  position: relative;
  overflow: hidden;
  padding-top: 60%;
  margin-bottom: 5rem;
}
.contacts_img img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contacts_icon {
  width: 3rem;
  height: 3rem;
  margin-right: 5rem;
}
.contacts_icon img {
  width: 100%;
  height: auto;
}
.contacts_info {
  margin-bottom: 3rem;
}
.contacts_info:last-child {
  margin-bottom: 10rem;
}
.contacts_info p {
  font-size: 2.66rem;
  font-family: "Ubuntu", sans-serif;
  line-height: 3.33rem;
  color: #000;
}
.contacts_map {
  height: 30vh;
  margin-bottom: 10rem;
}
.contacts_map iframe {
  width: 100%;
  height: 100%;
}
.contacts_form {
  padding: 0;
}
@media screen and (min-width: 767px) {
  .contacts_form {
    padding-bottom: 20rem;
  }
}
@media screen and (min-width: 767px) {
  .contacts_form form {
    width: 80%;
    margin: 0;
  }
}
.contacts_form_title {
  color: #000;
  text-align: left;
  width: 100%;
}
.contacts_form_title:after {
  left: 25%;
}
@media screen and (min-width: 767px) {
  .contacts_form_title:after {
    width: 30%;
    left: 15%;
  }
}

.services_list {
  padding: 0 3.5rem;
  padding-top: 16rem;
}
.services_list_item {
  width: 100%;
  position: relative;
}
.services_list_item_img {
  width: 100%;
  height: auto;
  padding-top: 25vh;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 767px) {
  .services_list_item_img {
    padding-top: 21vh;
  }
}
.services_list_item_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}
@media screen and (min-width: 767px) {
  .services_list_item_img img {
    width: auto;
    height: 100%;
  }
}
.services_list_item_info {
  padding: 1.5rem;
  overflow: hidden;
  width: 100%;
  height: 7rem;
  max-height: 30rem;
  background-color: #F5F9FD;
}
.services_list_item_title {
  font-family: "Palatino Linotype", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 5rem;
  margin-bottom: 2rem;
  color: #000;
}

.service_main {
  position: relative;
  margin-top: 16rem;
  margin-bottom: 10rem;
  height: calc(100vh - 16rem);
  overflow: hidden;
}
@media screen and (min-width: 767px) {
  .service_main {
    margin-bottom: 18rem;
  }
}
.service_main_img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}
.service_main_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}
.service_main_title {
  margin: 0 -15px;
  margin-top: 30vh;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 767px) {
  .service_main_title {
    background-color: #fff;
  }
}
.service_main_title p {
  max-width: 100vw;
  padding: 1rem 6rem;
  display: inline-block;
  font-family: "Palatino Linotype", sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  color: #000;
  background-color: #fff;
}
@media screen and (min-width: 767px) {
  .service_main_title p {
    font-size: 12rem;
    line-height: 15rem;
    padding: 2.5rem 13.33rem;
  }
}
.service_main_subtitle {
  position: relative;
  z-index: 2;
  background-color: #fff;
  max-width: 100vw;
  display: inline-block;
  width: 100%;
  margin: 0 -15px;
}
.service_main_subtitle p {
  max-width: 100%;
  padding: 1rem 6rem;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.66rem;
  line-height: 4rem;
  color: #000;
}
@media screen and (min-width: 767px) {
  .service_main_subtitle p {
    padding: 2.5rem 13.33rem;
    padding-right: 8rem;
    min-height: 12rem;
    height: 8vh;
    font-size: 3rem;
    line-height: 4rem;
  }
}
.service_main_order {
  position: relative;
  padding: 1rem 6rem;
  z-index: 2;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 -15px;
}
@media screen and (min-width: 767px) {
  .service_main_order {
    min-height: 12rem;
    height: 8vh;
  }
}
.service_main_order:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 80%;
  top: 50%;
  left: 3rem;
  transform: translate(-50%, -50%);
  background-color: #00A651;
}
@media screen and (min-width: 767px) {
  .service_main_order:before {
    height: 40%;
    left: 0;
  }
}
.service_main_order p {
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 500;
  color: #000;
  margin-right: 10vw;
}
.service_main_order_icon {
  display: inline-block;
}
.service_main_order_icon img {
  width: auto;
  height: 100%;
}

.catering {
  padding: 0 3.5rem;
  position: relative;
  padding-bottom: 13rem;
}
@media screen and (min-width: 767px) {
  .catering {
    overflow: hidden;
    padding: 0 11rem;
    padding-bottom: 20rem;
  }
}
.catering_left_text {
  position: absolute;
  top: 20rem;
  left: 3rem;
  transform: translate(-50%, -50%) rotate(-90deg);
}
@media screen and (min-width: 767px) {
  .catering_left_text {
    top: 50rem;
    left: 7rem;
  }
}
.catering_left_text p {
  color: #D9D9D9;
  font-size: 5rem;
  line-height: 6rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
@media screen and (min-width: 767px) {
  .catering_left_text p {
    font-size: 13.33rem;
    line-height: 16rem;
  }
}
.catering_title {
  width: 80%;
  color: #000;
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 767px) {
  .catering_title {
    margin-top: 13rem;
    font-size: 10rem;
    line-height: 12rem;
    width: 100%;
  }
}
.catering_text {
  font-size: 3rem;
  line-height: 4rem;
  font-family: "Ubuntu", sans-serif;
  color: #000;
}
.catering_text:last-child {
  margin-bottom: 0;
}
.catering_img {
  margin: 5rem 0;
  margin-right: calc(-6rem - 15px);
  position: relative;
  overflow: hidden;
  padding-top: 50vh;
  width: calc(100vw - 6rem );
}
@media screen and (min-width: 767px) {
  .catering_img {
    padding-top: 30vh;
    margin: 0;
    margin-bottom: 5rem;
  }
}
.catering_img img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
}
.catering_icon {
  width: 20vw;
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 0;
  left: 50%;
}
@media screen and (min-width: 767px) {
  .catering_icon {
    width: 15vw;
  }
}
.catering_icon img {
  width: 100%;
  height: auto;
}
.catering_calc {
  padding-top: 5rem;
}
@media screen and (min-width: 767px) {
  .catering_calc {
    background-color: #f5f9fd;
    position: absolute;
    bottom: 0;
    left: 15px;
    padding: 1rem 12rem;
  }
}
.catering_calc p {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  line-height: 4rem;
  color: #000;
  font-family: "Ubuntu", sans-serif;
  margin-right: 5rem;
}
.catering_calc p:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00A651;
  position: absolute;
  bottom: 0;
  left: 0;
}
.catering_calc_icon {
  width: 6rem;
  height: 6rem;
  border: 1px solid #000;
  position: relative;
}
.catering_calc_icon:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 45%;
  transform: translate(-50%, -50%) rotate(45deg);
  top: 35%;
  left: 50%;
  background-color: #000;
}
.catering_calc_icon:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 45%;
  transform: translate(-50%, -50%) rotate(-45deg);
  top: 65%;
  left: 50%;
  background-color: #000;
}

.why_we {
  padding: 5rem 3.5rem;
  position: relative;
  background-color: rgba(0, 166, 81, 0.1);
}
@media screen and (min-width: 767px) {
  .why_we {
    padding: 5rem 11rem;
  }
}
.why_we_title {
  text-align: center;
  margin-bottom: 5rem;
}
@media screen and (min-width: 767px) {
  .why_we_title {
    text-align: left;
  }
}
.why_we_text {
  font-size: 3rem;
  line-height: 4rem;
  color: #555555;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 8.33rem;
}
@media screen and (min-width: 767px) {
  .why_we_text {
    margin-bottom: 6.44rem;
  }
}
.why_we_img {
  position: relative;
  overflow: hidden;
  padding-top: 25vh;
  margin-bottom: 3.33rem;
}
@media screen and (min-width: 767px) {
  .why_we_img {
    margin-bottom: 0;
    padding-top: 20vh;
  }
}
.why_we_img img {
  width: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
@media screen and (min-width: 767px) {
  .why_we_img img {
    width: auto;
    height: 100%;
  }
}
.why_we_list_item {
  margin-bottom: 3rem;
}
.why_we_list_item:last-child {
  margin-bottom: 0;
}
.why_we_list_item_title {
  position: relative;
  font-size: 3rem;
  line-height: 4rem;
  color: #222222;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 1.5rem;
  font-weight: 600;
}
.why_we_list_item_title:before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: -9rem;
  background-color: rgba(0, 166, 81, 0.2);
}
.why_we_list_item_text {
  font-size: 2.66rem;
  color: #555555;
  line-height: 4rem;
  font-family: "Ubuntu", sans-serif;
}
@media screen and (min-width: 767px) {
  .why_we_list_item_text {
    font-size: 3rem;
    line-height: 4rem;
  }
}

.service_advantages {
  padding: 0 3.5rem;
  position: relative;
  width: 100%;
  margin-top: 13rem;
  margin-bottom: 5rem;
}
@media screen and (min-width: 767px) {
  .service_advantages {
    margin: 0;
    padding: 20rem 11rem;
  }
}
.service_advantages_title {
  margin-bottom: 5rem;
  font-family: "Ubuntu", sans-serif;
}
@media screen and (min-width: 767px) {
  .service_advantages_title {
    width: 80%;
    text-align: left;
    font-weight: 600;
    margin-bottom: 8.33rem;
  }
}

.advantages_img {
  width: 100%;
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding-top: 25vh;
}
@media screen and (min-width: 767px) {
  .advantages_img {
    padding-top: 35vh;
  }
}
.advantages_img img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.advantages_info {
  position: relative;
}
.advantages_info_title {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 767px) {
  .advantages_info_title {
    padding-top: 17rem;
    padding-bottom: 3rem;
  }
}
.advantages_info_title p {
  position: relative;
  z-index: 2;
  font-family: "Ubuntu", sans-serif;
  color: #000;
  font-size: 3rem;
  line-height: 4rem;
}
.advantages_info_num {
  position: absolute;
  font-size: 16.66rem;
  line-height: 16.66rem;
  transform: translate(-50%, -50%);
  top: 64%;
  left: 20%;
  font-family: "Palatino Linotype", sans-serif;
  color: #E5E5E5;
  z-index: 1;
}
@media screen and (min-width: 767px) {
  .advantages_info_num {
    font-size: 30rem;
    line-height: 30rem;
    transform: none;
    top: 3rem;
    left: 0;
  }
}
.advantages_info_text {
  position: relative;
  z-index: 2;
  font-size: 2.66rem;
  line-height: 3.33rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #555555;
  margin-bottom: 8.33rem;
}

.service_organization {
  padding: 0 3.5rem;
  position: relative;
}
@media screen and (min-width: 767px) {
  .service_organization {
    padding: 0 11rem;
  }
}
.service_organization_title {
  text-align: center;
  margin-bottom: 5rem;
}
@media screen and (min-width: 767px) {
  .service_organization_title {
    margin-bottom: 8.33rem;
  }
}
.service_organization .row {
  margin-bottom: 13.33rem;
}

.organization_info_img {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 30vh;
  margin-bottom: 3rem;
}
.organization_info_img img {
  position: absolute;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.organization_info_title {
  font-family: "Ubuntu", sans-serif;
  padding-left: 30%;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 500;
  position: relative;
  margin-bottom: 1.5rem;
}
.organization_info_title:before {
  content: "";
  width: 20vw;
  position: absolute;
  height: 1px;
  top: 2rem;
  left: 0;
  background-color: #000;
}
.organization_info_text p {
  font-size: 3rem;
  line-height: 4rem;
  color: #464646;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  margin-bottom: 1.5rem;
  padding-left: 30%;
}
@media screen and (min-width: 767px) {
  .organization_info_second .organization_info_text {
    padding-bottom: 10rem;
  }
  .organization_info_second .organization_info_text p {
    padding: 0;
    width: 90%;
  }
}

.service_reviews_title h2 {
  padding-left: 9rem;
  margin-bottom: 3rem;
}

.service_reviews_title_logo {
  left: 5%;
  width: 20vw;
}
@media screen and (max-height: 420px) {
  .service_reviews_title_logo {
    width: 13vw;
  }
}

.service_reviews_subtitle {
  font-size: 2.66rem;
  font-family: "Ubuntu", sans-serif;
  line-height: 3.33rem;
  padding-bottom: 3rem;
  color: #000;
  position: relative;
}
.service_reviews_subtitle:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  background-color: #00A651;
  width: 50%;
  height: 2px;
  transform: translate(-50%, -50%);
}

.merch {
  padding: 0 3.5rem;
  margin-top: 6rem;
  padding-top: 10rem;
  overflow: hidden;
}
@media screen and (min-width: 767px) {
  .merch {
    padding: 0 11rem;
    padding-top: 19rem;
    margin-top: 0;
    margin-bottom: 10rem;
  }
}
.merch_bg_title {
  left: 0%;
  width: 100%;
  text-align: center;
}
.merch_title {
  text-align: center;
  margin-bottom: 5rem;
}
.merch_product {
  margin-bottom: 3.33rem;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 767px) {
  .merch_product {
    margin-bottom: 3.33rem;
  }
  .merch_product:nth-child(odd) {
    margin-right: 15px;
  }
}
.merch_product_img {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 45vh;
}
@media screen and (min-width: 767px) {
  .merch_product_img {
    padding-top: 25vh;
  }
}
.merch_product_img img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.merch_product_info {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem 1.66rem;
  width: 100%;
}
.merch_product_info_name {
  min-width: 40%;
  position: relative;
  font-size: 2.66rem;
  font-family: "Ubuntu", sans-serif;
  line-height: 3.33rem;
  color: #000;
  padding-right: 3.33rem;
}
.merch_product_info_name:after {
  content: "";
  position: absolute;
  right: 1.5rem;
  top: 50%;
  width: 2px;
  height: 80%;
  transform: translate(-50%, -50%);
  background-color: #00A651;
}
.merch_product_info_price {
  min-width: 40%;
  position: relative;
  padding-right: 3.33rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  line-height: 3.66rem;
  color: #00A651;
  font-weight: 600;
}
.merch_product_info_price:after {
  content: "";
  position: absolute;
  right: 1.5rem;
  top: 50%;
  width: 2px;
  height: 80%;
  transform: translate(-50%, -50%);
  background-color: #00A651;
}
.merch_product_info_price span {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  color: #818181;
  margin-left: 1rem;
}
.merch_product_info_buy {
  min-width: 3rem;
  width: 3rem;
  min-height: 3rem;
  height: 3rem;
}
.merch_product_info_buy img {
  width: 100%;
  height: 100%;
}
.merch_form {
  background-color: rgba(81, 168, 0, 0.1);
}
@media screen and (min-width: 767px) {
  .merch_form form {
    width: 100%;
  }
}
.merch_form_title {
  text-align: left;
  color: #000;
}
.merch_form_title:after {
  left: 0;
  transform: none;
}

.wrapper_pop_up_product {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
}
.wrapper_pop_up_product_open {
  display: block;
}

.pop_up_close {
  position: absolute;
  top: 3rem;
  right: 3rem;
  width: 4rem;
  height: 4rem;
  z-index: 201;
}
.pop_up_close:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #000;
  width: 120%;
  height: 1px;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.pop_up_close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #000;
  width: 120%;
  height: 1px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.buy_product {
  width: 100%;
  height: auto;
  padding: 5rem 6rem;
  background-color: #fff;
}
.buy_product_slider {
  margin-bottom: 5rem;
}
.buy_product_info_name {
  font-size: 6.66rem;
  font-family: "Ubuntu", sans-serif;
  line-height: 8rem;
  color: #000;
  margin-bottom: 5rem;
  position: relative;
}
.buy_product_info_name:after {
  content: "";
  height: 1px;
  width: 70%;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00A651;
}
.buy_product_info_price {
  font-size: 9rem;
  line-height: 11rem;
  color: #00A651;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 8rem;
}
.buy_product_info_price p {
  font-size: 5.33rem;
  line-height: 7.66rem;
  color: #818181;
}
.buy_product_info_title {
  font-size: 2.66rem;
  color: #818181;
  line-height: 4rem;
  margin-bottom: 1.5rem;
}
.buy_product_info_size {
  margin-bottom: 5rem;
}
.buy_product_info_full_price {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.product_foto {
  width: 100%;
}
.product_foto img {
  width: 100%;
  height: auto;
}

.check_size {
  width: 7.5rem;
  height: 7.5rem;
  position: relative;
  margin-right: 3rem;
}
.check_size input {
  display: none;
}
.check_size input:checked + label {
  background: #E4F5EC;
  box-shadow: 5px 0 6px 0 rgba(0, 166, 81, 0.2);
}
.check_size label {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.44rem;
  line-height: 4rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 5px 0 6px 0 rgba(0, 0, 0, 0.11);
}

.buy_product_info_quantity {
  margin-bottom: 5rem;
}
.buy_product_info_quantity input {
  outline: none;
  width: 11rem;
  height: 6.66rem;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 0 6px 0 rgba(0, 0, 0, 0.11);
  font-size: 2.44rem;
  line-height: 4rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  text-align: center;
}

.full_price_quantity {
  font-size: 2.44rem;
  line-height: 4rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  margin-right: 2rem;
}

.full_price_sum {
  font-size: 4rem;
  line-height: 5rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}
.full_price_sum p {
  display: inline-block;
  font-size: 2.66rem;
  line-height: 3rem;
  color: #818181;
}

.wrapper_form_buy {
  background-color: #fff;
  z-index: 200;
  position: relative;
  padding: 5rem 6rem;
}
.wrapper_form_buy:before {
  content: "";
  z-index: 201;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 166, 81, 0.1);
}

.form_buy {
  position: relative;
  z-index: 203;
}
.form_buy_title {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 5.33rem;
  color: #000;
  line-height: 6rem;
  margin-bottom: 5rem;
}
.form_buy_input {
  z-index: 203;
}
.form_buy_btn {
  width: 100%;
  font-size: 3rem;
  line-height: 4rem;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}

.pop_up_thanks {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 200;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pop_up_thanks_open {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pop_up_thanks_text {
  position: relative;
}
.pop_up_thanks_text p {
  font-size: 6rem;
  line-height: 8rem;
  font-family: "Ubuntu", sans-serif;
  color: #000;
}
.pop_up_thanks_icon {
  position: absolute;
  top: 2rem;
  left: -8rem;
  width: 30vw;
}
.pop_up_thanks_icon img {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
