body, html, * {
  font-size: 10px;
  color: #000;
}
@media screen and (max-width: 1680px) {
  body, html, * {
    font-size: 8px;
  }
}
@media screen and (max-width: 1200px) {
  body, html, * {
    font-size: 6px;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}
a a:hover {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  background-color: #00A651;
  height: 40px;
  font-family: "Ubuntu", sans-serif;
  border-radius: 20px;
  border: none;
}
@media screen and (min-width: 767px) {
  .btn {
    height: 45px;
    width: auto;
  }
}
.btn > p {
  font-weight: 700;
  color: #fff;
  font-size: 2rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 4.33rem;
  font-family: "Palatino Linotype", sans-serif;
  color: #000;
}
@media screen and (min-width: 767px) {
  h2 {
    font-size: 7rem;
    line-height: 8.66rem;
  }
}
@media screen and (min-width: 767px) and (min-width: 992px) {
  h2 {
    font-size: 5rem;
    line-height: 6.7rem;
  }
}

.wrapper_main_bg {
  padding: 0 6rem;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
}
@media screen and (min-width: 992px) {
  .wrapper_main_bg {
    padding: 0 13.33rem;
  }
}
@media screen and (min-width: 992px) and (min-width: 992px) {
  .wrapper_main_bg {
    padding: 0 10rem;
  }
}

.main_bg_col {
  width: 25%;
  border-right: 1px solid #F5F7FB;
}
@media screen and (min-width: 992px) {
  .main_bg_col {
    width: calc(100% / 6);
  }
}
.main_bg_col:first-child {
  border-left: 1px solid #F5F7FB;
}

header {
  padding: 0 6rem;
  padding-top: 1.5rem;
}

.menu_burger {
  width: 10vw;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_burger > p {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: relative;
}
.menu_burger > p:after {
  content: "";
  width: 100%;
  position: absolute;
  height: 2px;
  left: 0;
  background-color: #000;
  top: -10px;
}
.menu_burger > p:before {
  content: "";
  width: 100%;
  position: absolute;
  height: 2px;
  left: 0;
  background-color: #000;
  top: 10px;
}

.menu {
  display: none;
  padding-top: 26rem;
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: -100vh;
  flex-direction: column;
  justify-content: center;
}
.menu_item {
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  color: #000;
  margin-bottom: 11vh;
  text-align: center;
}
.menu_item:last-child {
  margin-bottom: 0;
}

.logo_wrapper {
  position: relative;
  padding-top: 30%;
}
.logo_wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
}

.header_btn {
  position: absolute;
  right: 6rem;
  top: 2%;
  width: 40px;
}

.services {
  margin-top: 10rem;
  margin-bottom: 13.33rem;
  padding: 0 3.5rem;
}
.services_title {
  text-align: center;
  margin-bottom: 5rem;
}
.services_wrapper_item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
  height: 15vh;
}
.services_wrapper_item_img {
  position: relative;
  width: auto;
  height: 60%;
  margin-bottom: 3rem;
}
.services_wrapper_item_img > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.services_wrapper_item > p {
  width: 100%;
  height: 25%;
  text-align: center;
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: "Ubuntu", sans-serif;
  color: #000;
}

.services_icon_more {
  margin: auto;
  height: 15vw;
  width: 15vw;
  border: 2px solid #00A651;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services_icon_more > p {
  width: 40%;
  height: 100%;
  position: relative;
}
.services_icon_more > p:before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00A651;
  position: absolute;
  top: 35%;
  right: 0%;
  transform: rotate(45deg);
}
.services_icon_more > p:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00A651;
  position: absolute;
  top: 60%;
  right: 0%;
  transform: rotate(-45deg);
}

.about_us {
  padding: 0 2.5rem;
  padding-top: 5rem;
  padding-bottom: 13.33rem;
  position: relative;
}
.about_us_title {
  display: none;
}
.about_us_title_mobile {
  font-size: 4rem;
  line-height: 5rem;
  margin-bottom: 6rem;
  position: relative;
}
.about_us_title_mobile:after {
  content: "";
  width: 50%;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: 0%;
}
@media screen and (min-width: 992px) {
  .about_us_title_mobile {
    display: none;
  }
}
.about_us_subtitle {
  width: 90%;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.66rem;
  line-height: 4rem;
  margin-bottom: 5rem;
}
.about_us_img {
  width: 100%;
  position: relative;
  padding-top: 20vh;
  overflow: hidden;
  margin-bottom: 2rem;
}
.about_us_img > img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about_us .bg_title {
  font-size: 18rem;
  font-family: "Ubuntu", sans-serif;
  color: #000;
  opacity: 0.05;
  position: absolute;
  top: -65%;
  right: -6rem;
  width: 45vw;
  overflow: hidden;
  white-space: nowrap;
}
.about_us_bg_logo {
  position: absolute;
  width: 40vw;
  left: 6rem;
  bottom: -20%;
  opacity: 0.28;
  transform: rotate(-45deg);
}
.about_us_bg_logo > img {
  width: 100%;
}
.about_us_wrapper_info_text {
  width: 80%;
  height: 16rem;
  overflow: hidden;
}
.about_us_wrapper_info_text > p {
  font-size: 2.66rem;
  line-height: 4rem;
  color: #818181;
}
.about_us_read_more {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.66rem;
  line-height: 4rem;
  text-decoration: underline;
  color: #000;
}

.portfolio {
  padding: 0 6rem;
  padding-bottom: 13.3rem;
}
.portfolio_title {
  text-align: center;
  margin-bottom: 6rem;
}
.portfolio_category {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  margin: 0rem -6rem;
  padding-left: 6rem;
  margin-bottom: 8.33rem;
}
.portfolio_category_item {
  padding: 0 3rem;
  padding-bottom: 2rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  line-height: 3.66rem;
  white-space: nowrap;
}
.portfolio_category_item:first-child {
  margin-left: 0;
}
.portfolio_category_item_active {
  border-bottom: 2px solid #000;
}

.portfolio_slider_wrapper_img {
  padding-top: 75%;
  position: relative;
  overflow: hidden;
  width: 40vw;
}
.portfolio_slider_wrapper_img > img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  transform: translate(-50%, -50%);
}

.reviews {
  padding: 0 6rem;
  margin-bottom: 13.33rem;
}
.reviews_title {
  position: relative;
  text-align: center;
  margin-bottom: 6rem;
}
.reviews_title_logo {
  position: absolute;
  top: 0;
  left: 8%;
  width: 30%;
}
.reviews_title_logo > img {
  width: 100%;
  height: auto;
}
.reviews_slider_item {
  margin-bottom: 5rem;
}
.reviews_slider_item_img {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  margin-bottom: 2rem;
}
.reviews_slider_item_img > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.reviews_slider_item_info_num {
  font-size: 5rem;
  line-height: 6rem;
  font-family: "Ubuntu", sans-serif;
  color: #000;
}
.reviews_slider_item_info_name {
  font-size: 4rem;
  line-height: 4rem;
  font-family: "Ubuntu", sans-serif;
  color: #000;
  margin-bottom: 1.5rem;
}
.reviews_slider_item_info_text {
  font-size: 2.66rem;
  line-height: 3.33rem;
  font-family: "Ubuntu", sans-serif;
  color: #000;
}

.wrapper_form {
  overflow: hidden;
  padding: 6rem;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}
.wrapper_form .form_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper_form .form_bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
.wrapper_form .form_bg > img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.form {
  position: relative;
  z-index: 2;
}
.form_title {
  position: relative;
  z-index: 2;
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  color: #00A651;
  padding-bottom: 3.33rem;
  text-align: center;
  margin-bottom: 8rem;
}
.form_title:after {
  content: "";
  background-color: #00A651;
  width: 50%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form_input {
  width: 100%;
}
.form_input > input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
}

/*# sourceMappingURL=style.css.map */
